* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(179, 179, 179);
  color: rgb(255, 255, 255);
}

.listaSecciones {
  color: blue;
}

#seccionPopulares {
  color: rgb(50, 70, 255);

  animation: animacion 2s ease-in-out 2s infinite alternate;
}

.historiaEmpresa {
  color: rgb(255, 255, 255);
}

.container {
  margin: 1rem auto;
}

.container2 {
  margin: 0.1rem 0.1rem;
  padding: 0rem 1rem;
  color: #212121;
  font-weight: bold;
  text-align: center;
  max-width: 250px;
  img {
    max-width: 250px;
    border-radius: 1rem;
    overflow: hidden;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }

  img:hover {
    transform: scale(1.1, 1.1);
  }
}

.buscar {
  background-color: rgb(179, 179, 179);
  padding: 10px;
}

.secPopular {
  background-color: rgb(179, 179, 179);

  .container {
    ul {
      list-style: none;
      font-weight: bold;
    }
    .suscripcion {
      background-color: rgb(179, 179, 179);
    }
  }
}

.muestrario {
  background-color: rgb(179, 179, 179);
  grid-area: muestrario;
  padding: 10px;
}

input[type="text"] {
  height: 30px;
}

.sidebar {
  grid-area: sidebar;
  padding: 10px 10px;
  background-color: rgb(138, 138, 138);
}

.productos {
  .container {
    table {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
