table {
  border: 2px solid rgb(25, 29, 255);
  border-collapse: collapse;

  tr {
    td {
      border: 2px solid rgb(25, 29, 255);
      border-collapse: collapse;

      color: rgb(33, 0, 182);
      ul {
        list-style: none;
      }
    }
  }
}
