* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin size_image($width, $height) {
  height: $height;
  width: $width;
}

body {
  font-family: $fuente-body;
  background-color: $color-fondo;
  color: $color-fuente;
}

.listaSecciones {
  color: blue;
}

#seccionPopulares {
  @if $color-fuente-populares == azul {
    color: blue;
  } @else {
    color: white;
  }

  animation: animacion 2s ease-in-out 2s infinite alternate;
}

.historiaEmpresa {
  color: rgb(255, 255, 255);
}

.container {
  margin: $container-margin auto;

  img {
    @include size_image(250px, 250px);
  }
}

.container2 {
  margin: $container-margin/10 $container-margin/10;
  padding: 0rem 1rem;
  color: #212121;
  font-weight: bold;
  text-align: center;

  img:hover {
    transform: scale(1.1, 1.1);
  }
}

.buscar {
  background-color: rgb(179, 179, 179);
  padding: 10px;
}

.secPopular {
  background-color: rgb(179, 179, 179);

  .container {
    ul {
      list-style: none;
      font-weight: bold;
    }
    .suscripcion {
      background-color: rgb(179, 179, 179);
    }
  }
}

.muestrario {
  background-color: rgb(179, 179, 179);
  grid-area: muestrario;
  padding: 10px;
}

input[type="text"] {
  height: 30px;
}

.sidebar {
  grid-area: sidebar;
  padding: 10px 10px;
  background-color: rgb(138, 138, 138);
}
